{:blocks (
{:block/content "￼\n@instahlation\n￼\nRIM\nim not downplaying sa in the church, thats a huge scandal with the catholic church but from what ive seen \"being forced to go to church\" is the logic for most atheists i talk to (edited)"
:block/format :markdown
:block/left 
{:block/uuid #uuid "686968b3-b533-4721-92b3-ddf1631af9fd"}
:block/parent 
{:block/uuid #uuid "686968b3-b533-4721-92b3-ddf1631af9fd"}
:block/uuid #uuid "6869691d-9e7b-4399-9dfa-90367d8164c3"})
:pages (
{:block/uuid #uuid "686968b3-b533-4721-92b3-ddf1631af9fd"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "686968b3-b533-4721-92b3-ddf1631af9fd"
:name "686968b3-b533-4721-92b3-ddf1631af9fd"
:bindings 
{}
:nonce 1
:assets []
:shapes-index ()}}
:block/updated-at 1751738818987
:block/created-at 1751738547153
:block/type "whiteboard"
:block/name "686968b3-b533-4721-92b3-ddf1631af9fd"
:block/original-name "686968b3-b533-4721-92b3-ddf1631af9fd"})}